:root {
  /* Primary Color */
  --Yellow: hsl(47, 88%, 63%);

  /* Neutral Color */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);

  /* Primary */
  ---LightRed: hsl(0, 100%, 67%);
  --OrangeGreyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%);

  /* Gradient */
  --LightSlateBlue: hsl(252, 100%, 67%);
  --LightSoyalBlue: hsl(241, 81%, 54%);

  --VioletBlue: hsla(256, 72%, 46%, 1);
  --PersianBlue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(241, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);
}

@font-face {
  font-family: HankenGrotesk;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result-summary {
  margin-top: 2rem;
  height: 400px;
}

.result {
  background-color: var(--LightSlateBlue);
  border-radius: 5%;
  width: 350px;
}

.result .result-heading {
  color: var(--LightLavender);
  font-size: 1.3rem;
}
